#header-block{
  background: var(--header-block-background);
  padding: 250px 50px 150px;
  margin: 0;
  text-align: center;
}

#header-block h1{
  font-size: 94px;
  margin: 0;
  font-family: "Raleway";
}

#header-block p{
  font-size: 30px;
  margin: 0;
}

@media screen and (max-width: 760px){
  #header-block h1 {
    font-size: 50px;
  }

  #header-block p{
    font-size: 25px;
  }

  #header-block {
    background: var(--header-block-background);
    padding: 107px 50px 70px;
  }
}

#socials-list img {
  height: 1.5em;
  padding-right: 3px;
}

#socials-list a {
  display: flex;
  align-items: center;
}

#socials-list {
  list-style-type: none;
  padding-inline-start: 20px;
}