#header-block{
  background: lightblue;
  padding: 250px 50px 150px;
  margin: 0;
  text-align: center;
}

#header-block h1{
  font-size: 94px;
  margin: 0;
  font-family: "Raleway";
}

#header-block p{
  font-size: 30px;
  margin: 0;
}

@media screen and (max-width: 760px){
  #header-block h1 {
    font-size: 50px;
  }

  #header-block p{
    font-size: 25px;
  }

  #header-block {
    background: lightblue;
    padding: 107px 50px 70px;
  }
}
