body{
  margin: 0;
  --header-height: 50px;
  font-family: "Open Sans";
}

img{
  max-width: 100%;
}

.project-tabs-sticky{
  position: sticky;
  top: var(--header-height);
  z-index: 3;
  background: white;
  padding-top: 5px;
}

.project-tabs-sticky > *:only-child{
  display: inline-block;
}


.react-tabs__tab-list{
  margin-left: 4px;
}

blockquote, pre{
  background: #f9f9f9;
}

blockquote {
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.15em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

header{
  display: flex;
  align-content: center;
  align-items: center;
  position: fixed;
  box-shadow: #616161 0 0 2px 1px;
  top: 0;
  min-height: var(--header-height);
  width: 100%;
  max-width: 100%;
  z-index: 1000;
  background: white;
  flex-wrap: wrap;
  padding: 5px;
  /*justify-content: space-between;*/
}

header img{
  width: 30px;
  height: 30px;
}

header a, h1, h2, h3, h4, h5, h6{
  color: black;
  background: lightblue;
  padding: 4px;
  text-decoration: none;
  font-family: 'Raleway';
}

header > * {
  margin: 0px 0px 0 20px;
}

pre{
  word-break: break-all;
  white-space: break-spaces;
}

.projects-by{
  padding-left: 3px;
}

.projects-by > :not(:last-of-type)::after{
  content: " • ";
}

main{
  padding-top: var(--header-height);
  margin: 20px;
}

path{
  fill: lightblue;
}

#footer-main{
  background: lightblue;
  padding: 0 10px 10px;
}

#footer-main code{
  display: block;
}

footer svg{
  margin-bottom: -10px;
}

.full-width{
  width: 100vw;
  left: -20px;
  position: relative;
}

@media screen and (min-width: 760px) {
  main {
    margin: 0 10%;
  }

  .full-width{
    width: 125%;
    left: -10vw;
  }
}

@media screen and (min-width: 1200px) {
  main {
    margin: 0 20%;
  }

  .full-width{
    width: 166.66667%;
    left: -20vw;
  }
}

.tags-container{
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
}
