.tags-container code{
  margin: 5px;
}

.tags-container code:not(:first-child){
  margin-left: 5px;
}

.project{
  text-align: center;
  box-shadow: 0 0 0px 1px rgb(170, 170, 170);
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

.project:hover, .project:focus {
  box-shadow: 0 0 5px 2px rgb(170, 170, 170);
}

.project > *{
  margin: 5px 0;
}

.project h2{
  color: var(--heading-color);
  margin: 0;
}

.project > a, .project h3{
  text-decoration: none;
}

.project img{
  border-radius: 5px;
}

/*Makes the whole card clickable!*/
.project > a::after{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: ' ';
}
