:root{
    --color: white;
    --accent-color: #11111a;
    --background: black;
    --off-background: #cccccc;
    --shadow-color: #616161;

    --text-color: var(--color);
    --header-block-background: var(--accent-color);
    --heading-background: var(--accent-color);
    --heading-color: var(--color);
    --topbar-background: var(--background);
    --tab-bg: var(--background);
    --blockquote-accent: var(--off-background);
    --biglink-background: var(--accent-color);
    --link-color: var(--color);
    --link-border-color: var(--color);
}